.app-container {
  text-align: center;
  padding: 20px;
  background-color: #151515; /* Dark background color */
  min-height: 100vh;
  color: #ffffff; /* White text color */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.individual-charts h3,
.combined-chart h3 {
  color: rgb(40,178,240); /* Use company branding color */
}

/* Night mode styles */


.ant-row {
  margin-bottom: 20px;
}

.ant-btn-primary {
  background-color: rgb(40,178,240);
  border-color: rgb(40,178,240);
}

.ant-upload.ant-upload-select {
  color: rgb(40,178,240);
  border-color: rgb(40,178,240);
}

.ant-typography {
  color: #fff;
}